<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356631572253-tmus0qjpr56p7409oelcqdohk29biov1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356631572253-tmus0qjpr56p7409oelcqdohk29biov1</string>
	<key>API_KEY</key>
	<string>AIzaSyAPeITZ7v0QhD9SbEZMGvCvSfuq9j0K5IY</string>
	<key>GCM_SENDER_ID</key>
	<string>356631572253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.JayasekaraJMSD-COBSCComp192p-012</string>
	<key>PROJECT_ID</key>
	<string>cafe-nibm-2d2cb</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-nibm-2d2cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356631572253:ios:06318683c1d7d37ecb7bf4</string>
</dict>
</plist>